<section class="change-username-page p-3 text-center">
    <form id="change-username-form">
        <div class="form-group d-flex flex-column align-items-center gap-3">
            <label for="new-username" data-i18n="change_username.new_username_label">Nouveau nom d'utilisateur :</label>
            <input type="text" id="new-username" name="new-username" class="new-username-fields w-100 p-2" required>
            <button type="submit" class="btn-submit w-100 p-2" data-i18n="change_username.submit_button">Soumettre</button>
            <button type="button" class="btn-back-change-username-page w-100 p-2" data-i18n="change_username.back_button">Retour aux paramètres</button>
        </div>
    </form>
</section>
