<!DOCTYPE html>
<html lang="fr">
<body>
    <div class="game-tournament">
        <div class="game-box" style="margin-top: 74px;">
            <div class="score" id="j1score-disp"></div>
            <canvas class="game" id="game-canvas" width="800" height="600"></canvas>
            <div class="score" id="j2score-disp"></div>
        </div>
    </div>
    <div>
        <button class="back-button retro-button" onclick="router.navigate('play')" data-i18n="button.back">Retour</button>
    </div>
    <!-- <script src="/asset/js/i18next.js"></script>
    <script src="/asset/js/i18next-http-backend.js"></script> -->
</body>
</html>
