<div class="game-box">
    <div class="score" id="j1score-disp">J1:0</div>
    <canvas class="game" id="game-canvas" width="800" height="600"></canvas>
    <div class="score" id="j2score-disp">AI:0</div>
</div>
<div class="tactile-buttons-container">
    <div class="tactile-button button-up" id="button-up">Haut</div>
    <div class="tactile-button button-down" id="button-down">Bas</div>
</div>
<div>
    <button class="back-button retro-button" onclick="router.navigate('play')" data-i18n="button.back">Retour</button>
</div>
