<!-- /views/settings.html -->
<div class="content">
    <section class="settings-buttons p-3">
        <div class="container d-flex justify-content-center gap-3 flex-wrap">
            <button id="btn-change-username" class="nav-button retro-button btn-settings" data-i18n="settings.change_username_button">Modifier le nom d'utilisateur</button>
            <button id="btn-change-password" class="nav-button retro-button btn-settings" data-i18n="settings.change_password_button">Modifier le mot de passe</button>
            <button id="btn-delete-account" class="nav-button retro-button btn-settings" data-i18n="settings.delete_account_button">Supprimer le compte</button>
            <button id="btn-change-2fa" class="nav-button retro-button btn-settings" data-i18n="settings.activate_2fa_button">Activer la 2FA</button>
        </div>
    </section>

    <!-- Section pour afficher les formulaires dynamiques -->
    <section id="settings-content" class="mt-4">
        <!-- Les formulaires apparaîtront ici en fonction des actions de l'utilisateur -->
    </section>
</div>
<!-- <script src="/asset/js/i18next.js"></script>
<script src="/asset/js/i18next-http-backend.js"></script> -->
